<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.therockmandolinist.alfred-atmos</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>951C4DCE-33DB-43B4-A141-97060A6A8DA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C88C0D21-4CAA-451F-9249-9AEF702256A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Diego A. Mundo</string>
	<key>description</key>
	<string>Python port of Matlab's atmosisa</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Atmos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C88C0D21-4CAA-451F-9249-9AEF702256A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>atmos</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python atmos.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>International standard atmosphere model</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>951C4DCE-33DB-43B4-A141-97060A6A8DA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"39280b3408881b60a89724349ad451398c4cba5c.png","title":"Temperature [K]"},{"imagefile":"ac84372b7e34392e67e3abfd1d0b29b81083ff6f.png","title":"Speed of sound [m\/s]"},{"imagefile":"a0f9b0c4e71e73a256281f43bd3da0a64a1ce6f0.png","title":"Pressure [Pa]"},{"imagefile":"48c8dc517de5907fe04623eadc8c031ac58e9082.png","title":"Density [kg\/m^3]"}]</string>
				<key>keyword</key>
				<string>atmoshelp</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Atmos description</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2273F139-AAC9-443C-8D78-5C0650FBBD45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2273F139-AAC9-443C-8D78-5C0650FBBD45</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>951C4DCE-33DB-43B4-A141-97060A6A8DA9</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C88C0D21-4CAA-451F-9249-9AEF702256A2</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/therockmandolinist/alfred-atmos</string>
</dict>
</plist>
